@using System.Web.Optimization
@using System.Web.UI.WebControls
@model AnkietaAlkoholowa.Models.RecordViewModel



	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/ico" href="~/Images/favicon.ico" />
		<title>Alkohl</title>
		@Scripts.Render("~/bundles/jquery")
		@Scripts.Render("~/bundles/bootstrap")

		@Styles.Render("~/Content/css")

	   
		@*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@


	</head>
<body>

@*<h1>
			@foreach (var record in Model.Record)
			{
				@record.Age
				@record.Sex
				<br />
			}


		</h1>*@



<div id="kontener">



		<canvas id="myChart1" class="charts" width="400" height="650"></canvas>

		<div class="dropdown">
			<button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
				Tutorials
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">

				<li class="dropdown-submenu" types="sex" >
					<a class="test" tabindex="0" >Płeć<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a tabindex="-1" ang="girl">Kobieta</a></li>
						<li><a tabindex="-1" ang="boy">Mężczyzna</a></li>
					</ul>
				</li>
				<li class="dropdown-submenu" types="kind">
					<a class="test" tabindex="1">Rodzaj alkoholu<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a tabindex="-1"  ang="beer">Piwo</a></li>
						<li><a tabindex="-1"  ang="wine">Wino</a></li>
						<li><a tabindex="-1"  ang="vodka">Wódka</a></li>
					</ul>
				</li>
				<li class="dropdown-submenu" types="age">
					<a class="test" tabindex="2" >Wiek<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a tabindex="-1" ang="18">&lt; 18</a></li>
						<li><a tabindex="-1" ang="1825">18 - 25</a></li>
						<li><a tabindex="-1" ang="25">&gt; 25</a></li>
					</ul>
				</li>
				<li class="dropdown-submenu" types="times">
					<a class="test" tabindex="3" >Częstość<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a tabindex="-1">Nigdy</a></li>
						<li><a tabindex="-1">Sporadycznie</a></li>
						<li><a tabindex="-1">Codziennie</a></li>
					</ul>
				</li>
				<li class="dropdown-submenu" types="place">
					<a class="test" tabindex="4" >Miejsce<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a tabindex="-1">W plenerze</a></li>
						<li><a tabindex="-1">W domu</a></li>
						<li><a tabindex="-1">Na imprezie</a></li>
					</ul>
				</li>

			</ul>
		</div>
	

	@*<div class="col-lg-4">
		<canvas id="myChart2" class="charts" width="250" height="450"></canvas>
		<div class="dropdown">
			<button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
				Tutorials
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">

				<li class="dropdown-submenu">
					<a class="test" tabindex="5" href="#">New dropdown <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a tabindex="-1" href="#" onclick="Query()">2nd level dropdown</a></li>
						<li><a tabindex="-1" href="#" onclick="Query()">2nd level dropdown</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>


		<div class="col-lg-4">
			<canvas id="myChart3" class="charts" width="250" height="450"></canvas>
			<div class="dropdown">
				<button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
					Tutorials
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li class="dropdown-submenu">
						<a class="test" tabindex="6" href="#">New dropdown <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a tabindex="-1" href="#" onclick="Query()">2nd level dropdown</a></li>
							<li><a tabindex="-1" href="#" onclick="Query()">2nd level dropdown</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>*@

	@*<div class="loader">

			</div>*@
</div>
</body>





<script>
    var codz = Math.random(1, 101);
    var spor = Math.random(1, 101);
    var nigdy = Math.random(1, 101);
    var ctx = document.getElementById("myChart1");
    var myChart = new Chart(ctx,
    {
        type: 'pie',
        data: {
            labels: ["Nigdy", "Sporadycznie", "Codziennie"],
            datasets: [
                {
                    data: [nigdy, spor, codz],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(21,201,123,0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(21,201,123,1)'
                    ],
                    borderWidth: 1
                }
            ]
        },
        options: {
            title: {
                display: true,
                text: "Częstość spożycia",
                padding: 15,
                fontSize: 40
            },
            legend:
            {
                display: false
            },
            responsive: false
        }
    });


    var itemAng = null;
    var item = null;
    $(document).ready(function(){
        $('.dropdown-submenu a.test').on("click", function(e) {
            if (item != null) {
                var el = $('.dropdown-submenu a.test').toArray();
                el[item].click();
            }
            $(this).next('ul').toggle();
            item = $(this).attr('tabindex');
            itemAng = $(this).attr('ang');
            e.stopPropagation();
            e.preventDefault();
        });
    });


    
    $(document).ready(function() {
        $('.dropdown-submenu .dropdown-menu a').on("click",
            function () {
                var word;
                var type = $(this).parent().parent().parent().attr('types');
                if ($(this).attr('ang') != null)
                {
                    word = $(this).attr('ang');
                }
                else
                {
                    word = $(this).text();
                }

                $.ajax(
            {
             type: "POST",
             url: '/Home/DataToChart',
             data: { typ : type, attr : word },
             success: function (text) {
                 //TODO jesli sie uda to wez co zwroci i dodaj do chart
                 
                 var tab = text.split('-');
                 nigdy = tab[0];
                 spor = tab[1];
                 codz = tab[2];
                 alert(nigdy + spor + codz);
                 myChart.data.datasets[0].data[0] = tab[0];
                 myChart.data.datasets[0].data[1] = tab[1];
                 myChart.data.datasets[0].data[2] = tab[2];
                 myChart.options.title.text = "Częstość spożycia "+ "według\n" + type + " = " + word;
                 myChart.update();
             },
             error: function () {
                 alert("nie udalo sie");
             }
            });
         });
    });


</script>
