@using System.Web.Optimization
@using System.Web.UI.WebControls
@model AnkietaAlkoholowa.Models.RecordViewModel



	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/ico" href="~/Images/favicon.ico" />
		<title>Alkohl</title>
		@Scripts.Render("~/bundles/bootstrap")
		@Scripts.Render("~/bundles/jquery")
		@Styles.Render("~/Content/css")
		@*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@
		


	</head>
<body>

@*<h1>
			@foreach (var record in Model.Record)
			{
				@record.Age
				@record.Sex
				<br />
			}


		</h1>*@



<div id="kontener">


    <div class="col-lg-4">
        <canvas id="myChart1" class="charts" width="250" height="450"></canvas>

        <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                Tutorials
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">

                <li class="dropdown-submenu">
                    <a class="test" tabindex="0" href="#" ang="sex">Płeć<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="#" ang="female">Kobieta</a></li>
                        <li><a tabindex="-1" href="#" ang="male">Mężczyzna</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a class="test" tabindex="1" href="#" ang="kind">Rodzaj alkoholu<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="#" ang="beer">Piwo</a></li>
                        <li><a tabindex="-1" href="#" ang="wine">Wino</a></li>
                        <li><a tabindex="-1" href="#" ang="vodka">Wódka</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a class="test" tabindex="2" href="#" ang="age">Wiek<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="#" ang="18">&lt; 18</a></li>
                        <li><a tabindex="-1" href="#" ang="1825">18 - 25</a></li>
                        <li><a tabindex="-1" href="#" ang="25">&gt; 25</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a class="test" tabindex="3" href="#" ang="times">Częstość<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="#">Nigdy</a></li>
                        <li><a tabindex="-1" href="#">Sporadycznie</a></li>
                        <li><a tabindex="-1" href="#">Codziennie</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a class="test" tabindex="4" href="#" ang="place">Miejsce<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="#">W plenerze</a></li>
                        <li><a tabindex="-1" href="#">W domu</a></li>
                        <li><a tabindex="-1" href="#">Na imprezie</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>

    <div class="col-lg-4">
        <canvas id="myChart2" class="charts" width="250" height="450"></canvas>
        <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                Tutorials
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">

                <li class="dropdown-submenu">
                    <a class="test" tabindex="5" href="#">New dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="#" onclick="Query()">2nd level dropdown</a></li>
                        <li><a tabindex="-1" href="#" onclick="Query()">2nd level dropdown</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>


    <div class="col-lg-4">
        <canvas id="myChart3" class="charts" width="250" height="450"></canvas>
        <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                Tutorials
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                    <a class="test" tabindex="6" href="#">New dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="#" onclick="Query()">2nd level dropdown</a></li>
                        <li><a tabindex="-1" href="#" onclick="Query()">2nd level dropdown</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    @*<div class="loader">

			</div>*@
</div>
</body>





<script>
    var ctx = document.getElementById("myChart1");
    var myChart = new Chart(ctx,
    {
        type: 'pie',
        data: {
            labels: ["Tak","Nie"],
            datasets: [
                {
                    data: [12, 19],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)'
                        //'rgba(255, 206, 86, 0.2)',
                        //'rgba(75, 192, 192, 0.2)',
                        //'rgba(153, 102, 255, 0.2)',
                        //'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)'
                        //'rgba(255, 206, 86, 1)',
                        //'rgba(75, 192, 192, 1)',
                        //'rgba(153, 102, 255, 1)',
                        //'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }
            ]
        },
        options: {
            title: {
                display: true,
                text: "Kac",
                padding: 20,
                fontSize: 32
            },
            legend:
                {
                display:false
            },
            responsive: false
	   }
	});


    var itemAng = null;
	var item = null;
	$(document).ready(function(){
		$('.dropdown-submenu a.test').on("click", function(e) {
			if (item != null) {
				var el = $('.dropdown-submenu a.test').toArray();
				el[item].click();
			}

			$(this).next('ul').toggle();
			item = $(this).attr('tabindex');
			itemAng = $(this).attr('ang');
			e.stopPropagation();
			e.preventDefault();
		});
	});

	$(document).ready(function() {
		$('.dropdown-submenu .dropdown-menu a').on("click",
			function () {
			    if ($(this).attr('ang') != null)
			    alert(itemAng + $(this).attr('ang'));
			    else alert(itemAng + $(this).text());
			});
	});
</script>
